/* Titre principal du site */
$font__main : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
/* Titre secondaire */
$font__titre : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

$font_principal : 'Montserrat', sans-serif;
$font_secondaire : 'Poppins', sans-serif;
$font_paragraphe_1 : 'Roboto', sans-serif;