// Contenu de l'article
.article
{
    &__contenu
    {
        display: flex;
    }
}

// Titre de la page de cours
.formation__titre
{
    text-align: center;
}

.formation .menu
{
    span.menu-item-description, hr
    {
        display: none;
    }
}